In [9]:
%pip -q show pandas

Note: you may need to restart the kernel to use updated packages.

In [1]:
import os
import re

import pandas as pd

# 연도별 자격증 합격률 csv 파일 불러오기 ('UTF-8'인코딩이 아닌 'EUC-KR' 인코딩이라 설정)
pr_df = pd.read_csv('data\passing_rate.csv', encoding='EUC-KR')

pr_df.columns # Index(['종목별', '항목', '단위', '2019 년', '2020 년', '2021 년', '2022 년', '2023 년','Unnamed: 8'],dtype='object')

# passing_rate.index # RangeIndex(start=0, stop=6832, step=1)

print("pr_df 길이: {}".format(len(pr_df)))

<>:7: SyntaxWarning: invalid escape sequence '\p'
<>:7: SyntaxWarning: invalid escape sequence '\p'
C:\Users\user\AppData\Local\Temp\ipykernel_26992\622687321.py:7: SyntaxWarning: invalid escape sequence '\p'
  pr_df = pd.read_csv('data\passing_rate.csv', encoding='EUC-KR')

pr_df 길이: 6832

In [2]:
# 'Unnamed: 8'이라는 필요없는 컬럼 확인
pr_df

,종목별,항목,단위,2019 년,2020 년,2021 년,2022 년,2023 년,Unnamed: 8
0,계,필기접수[명],명,2786759.00,2616011.00,3227486.00,2807962.00,3123934.00,NaN
1,계,필기응시[명],명,2204230.00,2052155.00,2475561.00,2079866.00,2302069.00,NaN
2,계,필기합격[명],명,1012917.00,982006.00,1140826.00,945713.00,1014306.00,NaN
3,계,필기합격률[%],%,45.95,47.85,46.08,45.47,44.06,NaN
4,계,실기접수[명],명,1937597.00,1932824.00,2342854.00,2024829.00,1955834.00,NaN
...,...,...,...,...,...,...,...,...,...
6827,교육.자연.과학.사회과학,필기합격률[%],%,NaN,NaN,NaN,NaN,73.00,NaN
6828,교육.자연.과학.사회과학,실기접수[명],명,NaN,NaN,NaN,NaN,0.00,NaN
6829,교육.자연.과학.사회과학,실기응시[명],명,NaN,NaN,NaN,NaN,0.00,NaN
6830,교육.자연.과학.사회과학,실기합격[명],명,NaN,NaN,NaN,NaN,0.00,NaN
6831,교육.자연.과학.사회과학,실기합격률[%],%,NaN,NaN,NaN,NaN,0.00,NaN

In [3]:
# 'Unnamed: 8'이라는 필요없는 컬럼 drop
pr_df = pr_df.drop(columns='Unnamed: 8')

In [4]:
# 확인
pr_df

,종목별,항목,단위,2019 년,2020 년,2021 년,2022 년,2023 년
0,계,필기접수[명],명,2786759.00,2616011.00,3227486.00,2807962.00,3123934.00
1,계,필기응시[명],명,2204230.00,2052155.00,2475561.00,2079866.00,2302069.00
2,계,필기합격[명],명,1012917.00,982006.00,1140826.00,945713.00,1014306.00
3,계,필기합격률[%],%,45.95,47.85,46.08,45.47,44.06
4,계,실기접수[명],명,1937597.00,1932824.00,2342854.00,2024829.00,1955834.00
...,...,...,...,...,...,...,...,...
6827,교육.자연.과학.사회과학,필기합격률[%],%,NaN,NaN,NaN,NaN,73.00
6828,교육.자연.과학.사회과학,실기접수[명],명,NaN,NaN,NaN,NaN,0.00
6829,교육.자연.과학.사회과학,실기응시[명],명,NaN,NaN,NaN,NaN,0.00
6830,교육.자연.과학.사회과학,실기합격[명],명,NaN,NaN,NaN,NaN,0.00
6831,교육.자연.과학.사회과학,실기합격률[%],%,NaN,NaN,NaN,NaN,0.00