In [9]:
%pip -q show pandas

Note: you may need to restart the kernel to use updated packages.

In [58]:
import os
import re

import pandas as pd

# 연도별 자격증 합격률 csv 파일 불러오기 ('UTF-8'인코딩이 아닌 'EUC-KR' 인코딩이라 설정)
pr_df = pd.read_csv('data\passing_rate.csv', encoding='EUC-KR')

pr_df.columns # Index(['종목별', '항목', '단위', '2019 년', '2020 년', '2021 년', '2022 년', '2023 년','Unnamed: 8'],dtype='object')

# passing_rate.index # RangeIndex(start=0, stop=6832, step=1)

print("pr_df 길이: {}".format(len(pr_df))) # pr_df 길이: 6832

pr_df 길이: 6832

<>:7: SyntaxWarning: invalid escape sequence '\p'
<>:7: SyntaxWarning: invalid escape sequence '\p'
C:\Users\user\AppData\Local\Temp\ipykernel_26992\1794384799.py:7: SyntaxWarning: invalid escape sequence '\p'
  pr_df = pd.read_csv('data\passing_rate.csv', encoding='EUC-KR')

In [59]:
# 'Unnamed: 8'이라는 필요없는 컬럼 확인
pr_df

,종목별,항목,단위,2019 년,2020 년,2021 년,2022 년,2023 년,Unnamed: 8
0,계,필기접수[명],명,2786759.00,2616011.00,3227486.00,2807962.00,3123934.00,NaN
1,계,필기응시[명],명,2204230.00,2052155.00,2475561.00,2079866.00,2302069.00,NaN
2,계,필기합격[명],명,1012917.00,982006.00,1140826.00,945713.00,1014306.00,NaN
3,계,필기합격률[%],%,45.95,47.85,46.08,45.47,44.06,NaN
4,계,실기접수[명],명,1937597.00,1932824.00,2342854.00,2024829.00,1955834.00,NaN
...,...,...,...,...,...,...,...,...,...
6827,교육.자연.과학.사회과학,필기합격률[%],%,NaN,NaN,NaN,NaN,73.00,NaN
6828,교육.자연.과학.사회과학,실기접수[명],명,NaN,NaN,NaN,NaN,0.00,NaN
6829,교육.자연.과학.사회과학,실기응시[명],명,NaN,NaN,NaN,NaN,0.00,NaN
6830,교육.자연.과학.사회과학,실기합격[명],명,NaN,NaN,NaN,NaN,0.00,NaN
6831,교육.자연.과학.사회과학,실기합격률[%],%,NaN,NaN,NaN,NaN,0.00,NaN

In [60]:
# 'Unnamed: 8'이라는 필요없는 컬럼 drop
pr_df = pr_df.drop(columns='Unnamed: 8')

In [61]:
# 확인
pr_df

,종목별,항목,단위,2019 년,2020 년,2021 년,2022 년,2023 년
0,계,필기접수[명],명,2786759.00,2616011.00,3227486.00,2807962.00,3123934.00
1,계,필기응시[명],명,2204230.00,2052155.00,2475561.00,2079866.00,2302069.00
2,계,필기합격[명],명,1012917.00,982006.00,1140826.00,945713.00,1014306.00
3,계,필기합격률[%],%,45.95,47.85,46.08,45.47,44.06
4,계,실기접수[명],명,1937597.00,1932824.00,2342854.00,2024829.00,1955834.00
...,...,...,...,...,...,...,...,...
6827,교육.자연.과학.사회과학,필기합격률[%],%,NaN,NaN,NaN,NaN,73.00
6828,교육.자연.과학.사회과학,실기접수[명],명,NaN,NaN,NaN,NaN,0.00
6829,교육.자연.과학.사회과학,실기응시[명],명,NaN,NaN,NaN,NaN,0.00
6830,교육.자연.과학.사회과학,실기합격[명],명,NaN,NaN,NaN,NaN,0.00
6831,교육.자연.과학.사회과학,실기합격률[%],%,NaN,NaN,NaN,NaN,0.00

In [62]:
pr_df['종목별'].value_counts().head()

종목별
안전관리        80
정보통신        56
정보기술        48
영업.판매       48
경영.회계.사무    48
Name: count, dtype: int64

In [63]:
# 데이터 결측치 %로 확인
print("전체데이터 길이: {}".format(len(pr_df)))
print()
print(f"19년도 결측치: {pr_df['2019 년'].isnull().sum()/len(pr_df):.04f}")
print(f"20년도 결측치: {pr_df['2020 년'].isnull().sum()/len(pr_df):.04f}")
print(f"21년도 결측치: {pr_df['2021 년'].isnull().sum()/len(pr_df):.04f}")
print(f"22년도 결측치: {pr_df['2022 년'].isnull().sum()/len(pr_df):.04f}")
print(f"23년도 결측치: {pr_df['2023 년'].isnull().sum()/len(pr_df):.04f}")

전체데이터 길이: 6832

19년도 결측치: 0.0222
20년도 결측치: 0.0222
21년도 결측치: 0.0187
22년도 결측치: 0.0293
23년도 결측치: 0.0105

In [64]:
# 결측치 0으로 대체
pr_df = pr_df.fillna(0)

In [65]:
# 혹시 모르니까 결측값 다시 확인
print(f"전체 결측값: \n{pr_df.isnull().sum()}") # 없음

전체 결측값:
종목별       0
항목        0
단위        0
2019 년    0
2020 년    0
2021 년    0
2022 년    0
2023 년    0
dtype: int64

In [ ]:
# pr_df의 합격 인원만 가져오기
people_pr_df = pr_df.loc[pr_df['단위'] != '%'].reset_index(drop=True)

# pr_df의 합격률만 가져오기
per_pr_df = pr_df.loc[pr_df['단위'] == '%'].reset_index(drop=True)

# 각 데이터 프레임 길이
print("dataFrame length")
print("people_per_df: {}\nper_pr_df: {}".format(len(people_pr_df), len(per_pr_df)))

dataFrame length
people_per_df: 5124
per_pr_df: 1708

In [ ]:
# 종목별 데이터 갯수
len(dict(per_pr_df['종목별'].value_counts()))

637

---

# 연습

In [125]:
# 종목별 컬럼이 정보처리기사 일 때 조회 
# pr_df.loc[(pr_df['종목별']=='정보처리기사')&(pr_df['단위']=='%'), ['종목별','항목','2019 년','2020 년','2021 년']].reset_index(drop=True)
str = "정보 처리 기    사"
str_param = str.replace(' ', '')
if pr_df['종목별'].str.contains(str_param).any():
    print("검색 성공")
    pr_df.loc[
        (pr_df['종목별'].str.contains(str_param))
        &(pr_df['단위']=='%') 
        &(pr_df['2019 년']!=100)&(pr_df['2020 년']!=100)&(pr_df['2021 년']!=100)
        &(pr_df['2019 년']!=0)&(pr_df['2020 년']!=0)&(pr_df['2021 년']!=0)
        ,
        '종목별':'2021 년'# 대신에 ['종목별','항목','2019 년','2020 년','2021 년'] 이거 써도 됨 # 이거 안쓰면 전체 컬럼 값 출력
    ].sort_values(by='2019 년', ascending=True).reset_index(drop=True)
else:
    print("다시 입력하세요")

검색 성공

In [ ]:
str_param = ("정보처리기  사").replace(' ','')

pr_df.loc[
        (pr_df['종목별'].str.contains(str_param))
        &(pr_df['단위']=='%') 
        &(pr_df['2019 년']!=100)&(pr_df['2020 년']!=100)&(pr_df['2021 년']!=100)
        &(pr_df['2019 년']!=0)&(pr_df['2020 년']!=0)&(pr_df['2021 년']!=0)
        ,
        '종목별':'2021 년' # 이거 대신 ['종목별','항목 ','2019 년','2020 년','2021 년'] 이거도 가능 # 이거 안쓰면 전체 컬럼 값 출력
].sort_values(by='2019 년', ascending=True).reset_index(drop=True)

      종목별        항목 단위  2019 년  2020 년  2021 년
0  정보처리기사  실기합격률[%]  %   51.40   17.71   30.83
1  정보처리기사  필기합격률[%]  %   58.17   57.35   63.64